.App__left-display-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  p.disclaimer {
    margin-top: 0.5rem;
    font-size: 0.75rem;
  }
}

.App__left-display {
  position: relative;
  width: 640px;
  height: 480px;
  background-color: white;
  border: 1px solid #282828;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.App__left-display-info-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  h3 {
    font-size: 1.125rem;
  }

  select {
    margin-left: 0.5rem;
    font-size: 1.125rem;
    padding: 0.25rem;
  }
}

.App__left-display-resolution {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
  font-size: 1.125rem;

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0.5rem;
  }

  input {
    margin-left: 0.25rem;
    max-width: 50px;
    padding: 0.25rem;
  }
}

.App__left-display-sprite {
  position: absolute;
}