.App__left-display-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  p.disclaimer {
    margin-top: 0.5rem;
    font-size: 0.75rem;
  }
}

.App__left-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.App__left-display-scene {
  position: relative;
  background-color: white;
  border: 1px solid #282828;
  height: 100%;

  &.centered {
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

.App__left-display-scene-init-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.App__left-display-info-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;

  h3 {
    font-size: 1.125rem;
  }

  select {
    margin-left: 0.5rem;
    padding: 0.25rem;
  }
}

.App__left-display-resolution {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
  font-size: 1.125rem;

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0.5rem;
  }

  input {
    margin-left: 0.25rem;
    max-width: 50px;
    padding: 0.25rem;
  }
}

.App__left-display-padding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 0.5rem;
  font-size: 1.125rem;
  
  input {
    padding: 0.25rem;
    margin-left: 0.5rem;
    max-width: 50px;
  }
}

.App__left-display-scene-padding-visual-guide {
  position: absolute;
  border: 1px dashed orange;
  pointer-events: none;
}

.App__left-display-sprite-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 1.125rem;

  h3 {
    margin-bottom: 0.5rem;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: row;
    
    p.indent {
      margin-left: 0.5rem;
    }
  }

  input {
    max-width: 50px;
    margin-left: 0.25rem;
    padding: 0.25rem;

    &.sprite-text {
      min-width: 150px;
    }
  }
}

.App__left-display-sprite {
  position: absolute;
  cursor: pointer;
  z-index: 1;

  &.active {
    border: 1px solid red;
  }

  &.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 2rem;
  }
}